<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3" >
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <img src="https://cdn1.vectorstock.com/i/thumb-large/31/20/cartoon-crying-dinosaur-vector-15923120.jpg" alt="error">
          </div>
    </div>
</div>
