<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label"  for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    validated!
                </div>
            </div>    
            <div class="mb-3"
                <label class="form-label"  for="title">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    validated!
                </div>
            </div>
            <div class="mb-3"
                <label class="form-label"  for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    validated!
                </div>
            </div>
            <div class="mb-3"
                <label class="form-label"  for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    validated!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label"  for="price">Price</label>
                <div class="input-group" id="price">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" name="campground[price] aria-label="Amount (to the nearest dollar) required>
                    <div class="valid-feedback">
                        validated!
                    </div>
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <button class="btn btn-success mb-3">Add Campground</button>
        </form>
        <a href="/campgrounds"><button>Back to Home</button></a>
    </div>
</div>


<script>
    (() => {
  'use strict'

 
  const forms = document.querySelectorAll('.validated-form')

  
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>




    
    
